*{
    margin: 0px;
    padding: 0px;
}
/*header*/
header{
    height: 150;
    display: flex;
    background-color: rgb(124, 11, 11);
    color: white;
    position: fixed;
    width: 100%;
    padding: 10px;
}
ul{
    list-style: none;
    margin-left: 50%;
    font-size: 18px;
    display: flex;
}
li{
    padding-right: 50px;
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: white;
    
}
a:hover{
    color: red;
    text-shadow: 2px 2px 4px black;
}
.logo{
    margin: 10px 20px 10px 100px;
    font-size: 20px;
}
/*acceuil */
.acceuil{
    background-image: url("images/four.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 150px;
    color: white;
}
.acceuil h3{
    margin-left: 50px;
    font-size: 70px;
    color: rgb(124, 11, 11);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}
.acceuil p{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
    margin: 20px 10px 10px 100px;

}
.menu{
    
    margin-top: 34px;
}
/*Notre menu*/
.menu h2{
    text-align: center;
    font-size: 25px;
    color: rgb(124, 11, 11);
}
.sectionpizza , .sectionpates , .sectiondesserts , .sectionboissons{
    display: flex;
    
}

/*nom de chaque section*/
.menu h4{
    margin: 10px 10px 20px 50px;
    font-size: 23px;
}
.menu img{
    width: 350px;
    height: 300px;
    border: 3px solid black;
}
.menu h5,p{
    color: rgb(124, 11, 11);
    font-size: 16px;
}
/*tous les sections*/
.sectionpizza, .sectionpates, .sectiondesserts ,.sectionboissons{
    margin: 10px 20px 20px 150px;
}
.sectionpizza div, .sectionpates div,.sectiondesserts div,.sectionboissons div{
    margin-right: 50px;
}

.br{
    background-color: black;
    width: 50%;
    height: 1px;
    margin-left: 25%;
}
/*Contact*/
.contact {
    margin-top: 50px;
    margin-left: 50px;
}
.contact div{
    padding-bottom: 10px;
}
.contact h2{
    text-align: center;
    font-size: 35px;
    color: rgb(124, 11, 11);
}
footer{
    background-color: rgb(124, 11, 11);
    height: 50px;
    text-align: center;
    padding-top: 50px;
    color: white;
}
button{
    margin-top: 10px;
    margin-left: 110px;
    border: none;
    border-radius: 10px;
    padding: 14px;
    background-color: rgb(124, 11, 11);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    color: black;
}



/* Mini panier */
.mini-cart {
    position: fixed;
    top: 70px; /* sous le header */
    right: 20px;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: none; /* caché par défaut */
    z-index: 1000;
}

.mini-cart h3 {
    margin-top: 0;
}

.mini-cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mini-cart li {
    display: flex;            /* produit sur une ligne */
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
}

.mini-cart li img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.mini-cart .item-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.mini-cart button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 3px 6px;
    margin-left: 10px;
}
